<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.AnlianBillReportMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.anlian.AnlianBillReport" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="waybillno" property="waybillno" jdbcType="VARCHAR" />
    <result column="drivername" property="drivername" jdbcType="VARCHAR" />
    <result column="drivertel" property="drivertel" jdbcType="VARCHAR" />
    <result column="vehicleno" property="vehicleno" jdbcType="VARCHAR" />
    <result column="cargoname" property="cargoname" jdbcType="VARCHAR" />
    <result column="routeid" property="routeid" jdbcType="VARCHAR" />
    <result column="unloadtime" property="unloadtime" jdbcType="BIGINT" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="trueweight" property="trueweight" jdbcType="DOUBLE" />
    <result column="pickupweight" property="pickupweight" jdbcType="DOUBLE" />
    <result column="signweight" property="signweight" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="plancode" property="plancode" jdbcType="VARCHAR" />
    <result column="shipperMerchant" property="shippermerchant" jdbcType="VARCHAR" />
    <result column="consigneeMerchant" property="consigneemerchant" jdbcType="VARCHAR" />
    <result column="shipperMerchantname" property="shippermerchantname" jdbcType="VARCHAR" />
    <result column="consigneeMerchantname" property="consigneemerchantname" jdbcType="VARCHAR" />
    <result column="remarkname" property="remarkname" jdbcType="VARCHAR" />
    <result column="routename" property="routename" jdbcType="VARCHAR" />
    <result column="orgid" property="orgid" jdbcType="VARCHAR" />
    <result column="palnid" property="palnid" jdbcType="VARCHAR" />
    
    <result column="q_deviation" property="q_deviation" jdbcType="DOUBLE" />
    <result column="d_deviation" property="d_deviation" jdbcType="DOUBLE" />
    
    <result column="ownerSigntime" property="ownerSigntime" jdbcType="BIGINT" />
    <result column="begintime" property="begintime" jdbcType="BIGINT" />
    <result column="interTime" property="interTime" jdbcType="BIGINT" />
     <result column="interDistance" property="interDistance" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List">
  		id, type, createtime, 
      waybillno, drivername, drivertel, 
      vehicleno, cargoname, routeid, 
      unloadtime, weight, trueweight, 
      pickupweight, signweight, status, 
      plancode, shipperMerchant, consigneeMerchant, 
      shipperMerchantname, consigneeMerchantname, 
      remarkname, routename, orgid, 
      palnid,q_deviation,d_deviation,begintime,interDistance,interTime,ownerSigntime
  </sql>
  
  <sql id="Query_Column_List">
  		<if test="t_position == 1">
    		and q_deviation is not null
    	</if>
    	<if test="d_position == 1">
    		and d_deviation is not null
    	</if>
    	<if test="interTimeStr != null and interTimeStr != ''">
    		and ${interTimeStr}
    	</if>
    	<if test="interDistanceStr != null and interDistanceStr != ''">
    		and ${interDistanceStr}
    	</if>
    	<if test="waybillno != null and waybillno != ''">
    		and waybillno like "%" #{waybillno,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="plancode != null and plancode != ''">
    		and plancode like "%" #{plancode,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="status != null">
    		and status = #{status,jdbcType=TINYINT}
    	</if>
    	<if test="remarkname != null and remarkname != ''">
    		and remarkname like '%' #{remarkname,jdbcType=VARCHAR} '%'
    	</if>
    	<if test="vehicleno != null and vehicleno != ''">
    		and vehicleno like '%' #{vehicleno,jdbcType=VARCHAR} '%'
    	</if>
    	<if test="cargoname != null and cargoname != ''">
    		and cargoname like '%' #{cargoname,jdbcType=VARCHAR} '%'
    	</if>
    	<if test="orgid != null and orgid != ''">
    		and orgid in (${orgid})
    	</if>
    	<if test="type != null and type != ''">
    		and type = #{type,jdbcType=VARCHAR}
    	</if>
    	<if test="starttime != null">
    		and begintime <![CDATA[>=]]> #{starttime,jdbcType=BIGINT}
    	</if>
    	<if test="endtime != null">
    		and begintime <![CDATA[<=]]> #{endtime,jdbcType=BIGINT}
    	</if>
    	<if test="ownerSigntime_0 != null">
    		and ownerSigntime <![CDATA[>=]]> #{ownerSigntime_0,jdbcType=BIGINT}
    	</if>
    	<if test="ownerSigntime_1 != null">
    		and ownerSigntime <![CDATA[<=]]> #{ownerSigntime_1,jdbcType=BIGINT}
    	</if>
  </sql>
  <!-- ow -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    <include refid="Base_Column_List" />
    from v_anlian_billreport
    <where>
    	<include refid="Query_Column_List" />
    </where>
    order by createtime desc
    <if test="pageNo != null">
    	limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectBycount" resultType="long" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    count(0)
    from v_anlian_billreport
    <where>
    	<include refid="Query_Column_List" />
    </where>
  </select>
  <!-- ow -->
  
  <!-- dy -->
  <select id="DyselectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    <include refid="Base_Column_List" />
    from v_anlian_billreport_dy
    <where>
    	<include refid="Query_Column_List" />
    </where>
    order by createtime desc
    <if test="pageNo != null">
    	limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="DyselectBycount" resultType="long" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    count(0)
    from v_anlian_billreport_dy
    <where>
    	<include refid="Query_Column_List" />
    </where>
  </select>
  <!-- dy -->
  
  <!-- al -->
  <select id="AlselectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    <include refid="Base_Column_List" />
    from v_anlian_billreport_al
    <where>
    	<include refid="Query_Column_List" />
    </where>
    order by createtime desc
    <if test="pageNo != null">
    	limit #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="AlselectBycount" resultType="long" parameterType="com.tianrui.service.bean.anlian.AnlianBillReport" >
  	select 
    count(0)
    from v_anlian_billreport_al
    <where>
    	<include refid="Query_Column_List" />
    </where>
  </select>
  <!-- al -->
</mapper>