<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.CreditManageMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.CreditManage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="venderId" property="venderid" jdbcType="VARCHAR" />
    <result column="venderTel" property="vendertel" jdbcType="VARCHAR" />
    <result column="venderName" property="vendername" jdbcType="VARCHAR" />
    <result column="vehicleSum" property="vehiclesum" jdbcType="VARCHAR" />
    <result column="billvehicleSum" property="billvehiclesum" jdbcType="VARCHAR" />
    <result column="billCount" property="billcount" jdbcType="VARCHAR" />
    <result column="timelystart" property="timelystart" jdbcType="VARCHAR" />
    <result column="timelydelivery" property="timelydelivery" jdbcType="VARCHAR" />
    <result column="timelyreturn" property="timelyreturn" jdbcType="VARCHAR" />
    <result column="cardamage" property="cardamage" jdbcType="VARCHAR" />
    <result column="transportaccident" property="transportaccident" jdbcType="VARCHAR" />
    <result column="creditYear" property="credityear" jdbcType="VARCHAR" />
    <result column="creditMonth" property="creditmonth" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, venderId, venderTel, venderName, vehicleSum, billvehicleSum, billCount, timelystart, 
    timelydelivery, timelyreturn, cardamage, transportaccident, creditYear, creditMonth, 
    createtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wuliu_creditmanage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wuliu_creditmanage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.CreditManage" >
    insert into wuliu_creditmanage (id, venderId, venderTel, 
      venderName, vehicleSum, billvehicleSum, 
      billCount, timelystart, timelydelivery, 
      timelyreturn, cardamage, transportaccident, 
      creditYear, creditMonth, createtime, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{venderid,jdbcType=VARCHAR}, #{vendertel,jdbcType=VARCHAR}, 
      #{vendername,jdbcType=VARCHAR}, #{vehiclesum,jdbcType=VARCHAR}, #{billvehiclesum,jdbcType=VARCHAR}, 
      #{billcount,jdbcType=VARCHAR}, #{timelystart,jdbcType=VARCHAR}, #{timelydelivery,jdbcType=VARCHAR}, 
      #{timelyreturn,jdbcType=VARCHAR}, #{cardamage,jdbcType=VARCHAR}, #{transportaccident,jdbcType=VARCHAR}, 
      #{credityear,jdbcType=VARCHAR}, #{creditmonth,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.CreditManage" >
    insert into wuliu_creditmanage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="venderid != null" >
        venderId,
      </if>
      <if test="vendertel != null" >
        venderTel,
      </if>
      <if test="vendername != null" >
        venderName,
      </if>
      <if test="vehiclesum != null" >
        vehicleSum,
      </if>
      <if test="billvehiclesum != null" >
        billvehicleSum,
      </if>
      <if test="billcount != null" >
        billCount,
      </if>
      <if test="timelystart != null" >
        timelystart,
      </if>
      <if test="timelydelivery != null" >
        timelydelivery,
      </if>
      <if test="timelyreturn != null" >
        timelyreturn,
      </if>
      <if test="cardamage != null" >
        cardamage,
      </if>
      <if test="transportaccident != null" >
        transportaccident,
      </if>
      <if test="credityear != null" >
        creditYear,
      </if>
      <if test="creditmonth != null" >
        creditMonth,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="venderid != null" >
        #{venderid,jdbcType=VARCHAR},
      </if>
      <if test="vendertel != null" >
        #{vendertel,jdbcType=VARCHAR},
      </if>
      <if test="vendername != null" >
        #{vendername,jdbcType=VARCHAR},
      </if>
      <if test="vehiclesum != null" >
        #{vehiclesum,jdbcType=VARCHAR},
      </if>
      <if test="billvehiclesum != null" >
        #{billvehiclesum,jdbcType=VARCHAR},
      </if>
      <if test="billcount != null" >
        #{billcount,jdbcType=VARCHAR},
      </if>
      <if test="timelystart != null" >
        #{timelystart,jdbcType=VARCHAR},
      </if>
      <if test="timelydelivery != null" >
        #{timelydelivery,jdbcType=VARCHAR},
      </if>
      <if test="timelyreturn != null" >
        #{timelyreturn,jdbcType=VARCHAR},
      </if>
      <if test="cardamage != null" >
        #{cardamage,jdbcType=VARCHAR},
      </if>
      <if test="transportaccident != null" >
        #{transportaccident,jdbcType=VARCHAR},
      </if>
      <if test="credityear != null" >
        #{credityear,jdbcType=VARCHAR},
      </if>
      <if test="creditmonth != null" >
        #{creditmonth,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.CreditManage" >
    update wuliu_creditmanage
    <set >
      <if test="venderid != null" >
        venderId = #{venderid,jdbcType=VARCHAR},
      </if>
      <if test="vendertel != null" >
        venderTel = #{vendertel,jdbcType=VARCHAR},
      </if>
      <if test="vendername != null" >
        venderName = #{vendername,jdbcType=VARCHAR},
      </if>
      <if test="vehiclesum != null" >
        vehicleSum = #{vehiclesum,jdbcType=VARCHAR},
      </if>
      <if test="billvehiclesum != null" >
        billvehicleSum = #{billvehiclesum,jdbcType=VARCHAR},
      </if>
      <if test="billcount != null" >
        billCount = #{billcount,jdbcType=VARCHAR},
      </if>
      <if test="timelystart != null" >
        timelystart = #{timelystart,jdbcType=VARCHAR},
      </if>
      <if test="timelydelivery != null" >
        timelydelivery = #{timelydelivery,jdbcType=VARCHAR},
      </if>
      <if test="timelyreturn != null" >
        timelyreturn = #{timelyreturn,jdbcType=VARCHAR},
      </if>
      <if test="cardamage != null" >
        cardamage = #{cardamage,jdbcType=VARCHAR},
      </if>
      <if test="transportaccident != null" >
        transportaccident = #{transportaccident,jdbcType=VARCHAR},
      </if>
      <if test="credityear != null" >
        creditYear = #{credityear,jdbcType=VARCHAR},
      </if>
      <if test="creditmonth != null" >
        creditMonth = #{creditmonth,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.CreditManage" >
    update wuliu_creditmanage
    set venderId = #{venderid,jdbcType=VARCHAR},
      venderTel = #{vendertel,jdbcType=VARCHAR},
      venderName = #{vendername,jdbcType=VARCHAR},
      vehicleSum = #{vehiclesum,jdbcType=VARCHAR},
      billvehicleSum = #{billvehiclesum,jdbcType=VARCHAR},
      billCount = #{billcount,jdbcType=VARCHAR},
      timelystart = #{timelystart,jdbcType=VARCHAR},
      timelydelivery = #{timelydelivery,jdbcType=VARCHAR},
      timelyreturn = #{timelyreturn,jdbcType=VARCHAR},
      cardamage = #{cardamage,jdbcType=VARCHAR},
      transportaccident = #{transportaccident,jdbcType=VARCHAR},
      creditYear = #{credityear,jdbcType=VARCHAR},
      creditMonth = #{creditmonth,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKeySelective" parameterType="com.tianrui.service.bean.CreditManage" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from wuliu_creditmanage
  	<where>
  	  <if test="id != null and id != ''">
  	  	and id = #{id,jdbcType=VARCHAR}
  	  </if>
	  <if test="venderid != null and venderid != ''" >
        and venderId = #{venderid,jdbcType=VARCHAR}
      </if>
      <if test="vendertel != null and vendertel !=''" >
        and venderTel = #{vendertel,jdbcType=VARCHAR}
      </if>
      <if test="vendername != null and vendername != ''" >
        and venderName = #{vendername,jdbcType=VARCHAR}
      </if>
      <if test="vehiclesum != null and vehiclesum != ''" >
        and vehicleSum = #{vehiclesum,jdbcType=VARCHAR}
      </if>
      <if test="billvehiclesum != null and billvehiclesum != ''" >
        and billvehicleSum = #{billvehiclesum,jdbcType=VARCHAR}
      </if>
      <if test="billcount != null and billcount != ''" >
        and billCount = #{billcount,jdbcType=VARCHAR}
      </if>
      <if test="timelystart != null and timelystart != ''" >
        and timelystart = #{timelystart,jdbcType=VARCHAR}
      </if>
      <if test="timelydelivery != null and timelydelivery != ''" >
        and timelydelivery = #{timelydelivery,jdbcType=VARCHAR}
      </if>
      <if test="timelyreturn != null and timelyreturn != ''" >
        and timelyreturn = #{timelyreturn,jdbcType=VARCHAR}
      </if>
      <if test="cardamage != null and cardamage != ''" >
        and cardamage = #{cardamage,jdbcType=VARCHAR}
      </if>
      <if test="transportaccident != null and transportaccident != ''" >
        and transportaccident = #{transportaccident,jdbcType=VARCHAR}
      </if>
      <if test="credityear != null and credityear != ''" >
        and creditYear = #{credityear,jdbcType=VARCHAR}
      </if>
      <if test="creditmonth != null and creditmonth != ''" >
        and creditMonth = #{creditmonth,jdbcType=VARCHAR}
      </if>
      <if test="createtime != null and createtime != ''" >
        and createtime = #{createtime,jdbcType=BIGINT}
      </if>
      <if test="remark != null and remark != ''" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
  	</where>
  </select>
</mapper>