<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.MaterielRouteMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.MaterielRoute" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="materie_id" property="materieId" jdbcType="VARCHAR" />
    <result column="materie_name" property="materieName" jdbcType="VARCHAR" />
    <result column="route_name" property="routeName" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifier_time" property="modifierTime" jdbcType="BIGINT" />
    <result column="materie_status" property="materieStatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, materie_id, materie_name, route_name, creator, create_date, modifier, modifier_time, 
    materie_status, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.MaterielRouteExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wuliu_materiel_route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wuliu_materiel_route
    where id = #{id,jdbcType=VARCHAR}
  </select>
   <select id="selectByPrimaryWiteKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wuliu_materiel_route
    where id = #{id,jdbcType=VARCHAR} and materie_status = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wuliu_materiel_route
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tianrui.service.bean.MaterielRouteExample" >
    delete from wuliu_materiel_route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.MaterielRoute" >
    insert into wuliu_materiel_route (id, materie_id, materie_name, 
      route_name, creator, create_date, 
      modifier, modifier_time, materie_status, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{materieId,jdbcType=VARCHAR}, #{materieName,jdbcType=VARCHAR}, 
      #{routeName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=BIGINT}, 
      #{modifier,jdbcType=VARCHAR}, #{modifierTime,jdbcType=BIGINT}, #{materieStatus,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.MaterielRoute" >
    insert into wuliu_materiel_route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="materieId != null" >
        materie_id,
      </if>
      <if test="materieName != null" >
        materie_name,
      </if>
      <if test="routeName != null" >
        route_name,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifierTime != null" >
        modifier_time,
      </if>
      <if test="materieStatus != null" >
        materie_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="materieId != null" >
        #{materieId,jdbcType=VARCHAR},
      </if>
      <if test="materieName != null" >
        #{materieName,jdbcType=VARCHAR},
      </if>
      <if test="routeName != null" >
        #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierTime != null" >
        #{modifierTime,jdbcType=BIGINT},
      </if>
      <if test="materieStatus != null" >
        #{materieStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tianrui.service.bean.MaterielRouteExample" resultType="java.lang.Integer" >
    select count(*) from wuliu_materiel_route
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wuliu_materiel_route
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.materieId != null" >
        materie_id = #{record.materieId,jdbcType=VARCHAR},
      </if>
      <if test="record.materieName != null" >
        materie_name = #{record.materieName,jdbcType=VARCHAR},
      </if>
      <if test="record.routeName != null" >
        route_name = #{record.routeName,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=BIGINT},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierTime != null" >
        modifier_time = #{record.modifierTime,jdbcType=BIGINT},
      </if>
      <if test="record.materieStatus != null" >
        materie_status = #{record.materieStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wuliu_materiel_route
    set id = #{record.id,jdbcType=VARCHAR},
      materie_id = #{record.materieId,jdbcType=VARCHAR},
      materie_name = #{record.materieName,jdbcType=VARCHAR},
      route_name = #{record.routeName,jdbcType=VARCHAR},
      creator = #{record.creator,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=BIGINT},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      modifier_time = #{record.modifierTime,jdbcType=BIGINT},
      materie_status = #{record.materieStatus,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.MaterielRoute" >
    update wuliu_materiel_route
    <set >
      <if test="materieId != null" >
        materie_id = #{materieId,jdbcType=VARCHAR},
      </if>
      <if test="materieName != null" >
        materie_name = #{materieName,jdbcType=VARCHAR},
      </if>
      <if test="routeName != null" >
        route_name = #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierTime != null" >
        modifier_time = #{modifierTime,jdbcType=BIGINT},
      </if>
      <if test="materieStatus != null" >
        materie_status = #{materieStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.MaterielRoute" >
    update wuliu_materiel_route
    set materie_id = #{materieId,jdbcType=VARCHAR},
      materie_name = #{materieName,jdbcType=VARCHAR},
      route_name = #{routeName,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_time = #{modifierTime,jdbcType=BIGINT},
      materie_status = #{materieStatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 查询已选路线 -->
  <select id="querySelecedRoute" parameterType="com.tianrui.api.req.admin.MaterielRouteReq" resultMap="BaseResultMap">
  	select * from wuliu_materiel_route where materie_status='1'
  	<if test="materieId != null and materieId != ''" >
	      and materie_id = #{materieId,jdbcType=VARCHAR}
    </if>
  	<if test="materieName != null and materieName != ''" >
	      and materie_name = #{materieName,jdbcType=VARCHAR}
    </if>
  	<if test="routeName != null and routeName != ''" >
	      and route_name like CONCAT('%','${routeName}','%' )
    </if>
  </select>
  <!-- 查询待选路线 -->
  <select id="queryWaitRoute" parameterType="com.tianrui.api.req.admin.MaterielRouteReq" resultMap="BaseResultMap">
  	select * from wuliu_materiel_route where materie_status='0'
  	<if test="materieId != null and materieId != ''" >
	      and materie_id = #{materieId,jdbcType=VARCHAR}
    </if>
  	<if test="materieName != null and materieName != ''" >
	      and materie_name = #{materieName,jdbcType=VARCHAR}
    </if>
  	<if test="routeName != null and routeName != ''" >
	      and route_name like CONCAT('%','${routeName}','%' )
    </if>
  </select>
  <select id="selecedRoute" parameterType="com.tianrui.api.req.front.cargoplan.RouteReq" resultMap="BaseResultMap">
  	select * from wuliu_materiel_route where materie_status='0' 
  	<if test="materialId != null and materialId != ''" >
	     and materie_id = #{materialId,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="queryOne" resultMap="BaseResultMap"> 
  	select * from wuliu_materiel_route where materie_status='1'
  </select>
  
</mapper>