<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.MemberCapaMapper" >
  <select id="selectByCondition" resultType="com.tianrui.service.bean.MemberCapaList" 
  		parameterType="com.tianrui.service.bean.MemberCapa" >
  SELECT
	vd.id id,
	vd.id vehicledriverid,
	vd.driverid driverid,
	vd.vehicleid vehicleid,
	vd.drivername drivername,
	vd.drivertel drivertel,
	vd.vehicleTypeName vehicleType,
	f.username username,
	f.telphone telphone,
	f.companyname companyname,
	f.companytel companytel,
	v.vehilength length,
	v.vehiweight weight,
	v.vehicleprefix vehfix,
	v.vehicleno vehno,
	v.billstatus billstatus,
	(-1) status,
	v.desc1 desc1,
	mf.aldriverid aldriverid
	FROM
		wuliu_vehicle_driver vd
		LEFT JOIN member_info f ON f.id = vd.creator
		LEFT JOIN wuliu_member_vehicle v ON v.id = vd.vehicleid 
		LEFT JOIN member mf ON mf.id = vd.driverid
	<where>
		<if test="search != null and search != ''">
			and (vd.vehicleno like "%" #{search,jdbcType=VARCHAR} "%"
			or vd.drivername like "%" #{search,jdbcType=VARCHAR} "%"
			or vd.drivertel like "%" #{search,jdbcType=VARCHAR} "%")
		</if>
		<if test="id != null and id!= ''">
			and vd.id = #{id,jdbcType=VARCHAR}
		</if>
    	<if test="vehicleno != null and vehicleno != ''">
    		and vd.vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivername != null and drivername != ''">
    		and vd.drivername like "%" #{drivername,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivertel != null and drivertel != ''">
    		and vd.drivertel like "%" #{drivertel,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="memberid != null and memberid != ''">
    		and vd.creator = #{memberid,jdbcType=VARCHAR}
    	</if>
    	<if test="vehicleid != null and vehicleid != ''">
    		and vd.vehicleid = #{vehicleid,jdbcType=VARCHAR}
    	</if>
    </where>
	UNION ALL
	SELECT
		c.id id,
		d.id vehicledriverid,
		d.driverid driverid,
		d.vehicleid vehicleid,
		d.drivername drivername,
		d.drivertel drivertel,
		v.vehicletypename vehicletype,
	  	f.username username,
		f.telphone telphone,
		f.companyname companyname,
		f.companytel companytel,
		v.vehilength length,
		v.vehiweight weight,
		v.vehicleprefix vehfix,
		v.vehicleno vehno,
		v.billstatus billstatus,
		c.status status,
		v.desc1 desc1,
	    mf.aldriverid aldriverid
	FROM
		wuliu_member_capa c
		LEFT JOIN wuliu_member_vehicle v ON c.vehicleid = v.id
		LEFT JOIN member_info f ON f.id = c.ownerid
		LEFT JOIN wuliu_vehicle_driver d ON c.vehicleid = d.vehicleid
		LEFT JOIN member mf ON mf.id = d.driverid
  	<where>
  		<if test="search != null and search != ''">
			and (d.vehicleno like "%" #{search,jdbcType=VARCHAR} "%"
			or d.drivername like "%" #{search,jdbcType=VARCHAR} "%"
			or d.drivertel like "%" #{search,jdbcType=VARCHAR} "%")
		</if>
  		<if test="id != null and id!= ''">
			and c.id = #{id,jdbcType=VARCHAR}
		</if>
  		<if test="type == 'capa'">
  			and d.vehicleid is not null
  			and c.status = 1
  		</if>
    	<if test="vehicleno != null and vehicleno != ''">
    		and d.vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivername != null and drivername != ''">
    		and d.drivername like "%" #{drivername,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivertel != null and drivertel != ''">
    		and d.drivertel like "%" #{drivertel,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="memberid != null and memberid != ''">
    		and c.memberid = #{memberid,jdbcType=VARCHAR}
    	</if>
    	<if test="vehicleid != null and vehicleid != ''">
    		and c.vehicleid = #{vehicleid,jdbcType=VARCHAR}
    	</if>
    	<if test="status != null and status != ''">
    		and c.status = #{status,jdbcType=VARCHAR}
    	</if>
    </where>
   	<if test="start != null and start != '0'">
    	<if test="limit !=null" >
     		limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    	</if>
   	</if> 
  </select>
  <select id="selectByVDCount" resultType="long" 
  		parameterType="com.tianrui.service.bean.MemberCapa" >
    SELECT
	count(*)
	FROM
		wuliu_vehicle_driver vd
		LEFT JOIN member_info f ON f.id = vd.creator
		LEFT JOIN wuliu_member_vehicle v ON v.id = vd.vehicleid 
	<where>
    	<if test="search != null and search != ''">
			and (vd.vehicleno like "%" #{search,jdbcType=VARCHAR} "%"
			or vd.drivername like "%" #{search,jdbcType=VARCHAR} "%"
			or vd.drivertel like "%" #{search,jdbcType=VARCHAR} "%")
		</if>
		<if test="id != null and id!= ''">
			and vd.id = #{id,jdbcType=VARCHAR}
		</if>
    	<if test="vehicleno != null and vehicleno != ''">
    		and vd.vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivername != null and drivername != ''">
    		and vd.drivername like "%" #{drivername,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivertel != null and drivertel != ''">
    		and vd.drivertel like "%" #{drivertel,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="memberid != null and memberid != ''">
    		and vd.creator = #{memberid,jdbcType=VARCHAR}
    	</if>
    	<if test="vehicleid != null and vehicleid != ''">
    		and vd.vehicleid = #{vehicleid,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  <select id="selectByMCCount" resultType="long" 
  		parameterType="com.tianrui.service.bean.MemberCapa" >
	SELECT
		count(*)
	FROM
		wuliu_member_capa c
		LEFT JOIN wuliu_member_vehicle v ON c.vehicleid = v.id
		LEFT JOIN member_info f ON f.id = c.ownerid
		LEFT JOIN wuliu_vehicle_driver d ON c.vehicleid = d.vehicleid
  	<where>
  		<if test="search != null and search != ''">
			and (d.vehicleno like "%" #{search,jdbcType=VARCHAR} "%"
			or d.drivername like "%" #{search,jdbcType=VARCHAR} "%"
			or d.drivertel like "%" #{search,jdbcType=VARCHAR} "%")
		</if>
  		<if test="id != null and id!= ''">
			and c.id = #{id,jdbcType=VARCHAR}
		</if>
  		<if test="type == 'capa'">
  			and d.vehicleid is not null
  			and c.status = 1
  		</if>
    	<if test="vehicleno != null and vehicleno != ''">
    		and d.vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivername != null and drivername != ''">
    		and d.drivername like "%" #{drivername,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="drivertel != null and drivertel != ''">
    		and d.drivertel like "%" #{drivertel,jdbcType=VARCHAR} "%"
    	</if>
    	<if test="memberid != null and memberid != ''">
    		and c.memberid = #{memberid,jdbcType=VARCHAR}
    	</if>
    	<if test="vehicleid != null and vehicleid != ''">
    		and c.vehicleid = #{vehicleid,jdbcType=VARCHAR}
    	</if>
    	<if test="status != null and status != ''">
    		and c.status = #{status,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
</mapper>