<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.OldBillMoneyMapper" >
  <select id="selectByOldDYBill" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
	driverid,
	waybillno,
	unloadtime,
	price,
	weight
	FROM
		wuliu_bill
	WHERE
		confirm_Price_A = '1'
	AND confirm_Price_B = '1'
	AND waybillno IN('YD1712070240','YD1712070233','YD1712070239','YD1712070234')
  </select>
  
  <select id="selectByOldALBill" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		driverid driverid,
		billno AS waybillno,
		signtime unloadtime,
		yf price,
	  1 weight
	FROM
		anlian_bill
	WHERE
		confirm_Price_A = '1'
 	AND confirm_Price_B = '1'
  </select>
  
  <select id="selectByOldUptMoney" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (1, 2, 3)
  </select>
  
  <select id="selectByOldWithDraw" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (1, 2, 3)
  </select>
  
  <select id="selectByOldWithDrawSuccess" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (2)
  </select>
  
  <select id="selectByOldWithDrawFail" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (3)
  </select>
  
</mapper>