<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.OldBillMoneyMapper" >
  <select id="selectByOldDYBill" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
	driverid,
	waybillno,
	unloadtime,
	price,
	weight
	FROM
		wuliu_bill
	WHERE
		payment = 1
	AND trueweight IS NOT NULL
  </select>
  
  <select id="selectByOldALBill" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		driverid driverid,
		billno AS waybillno,
		signtime unloadtime,
		yf price,
	  1 weight
	FROM
		anlian_bill
	WHERE
		trueweight IS NOT NULL
	AND billno != 'CS0000000'
	AND signtime IS NOT NULL;
  </select>
  
  <select id="selectByOldUptMoney" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (1, 2, 3)
  </select>
  
  <select id="selectByOldWithDraw" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (1, 2, 3)
  </select>
  
  <select id="selectByOldWithDrawSuccess" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (2)
  </select>
  
  <select id="selectByOldWithDrawFail" resultType="com.tianrui.service.bean.OldBillMoney" parameterType="com.tianrui.service.bean.OldBillMoney">
  SELECT
		id payid,
		payee_bank_card_id bankid
	FROM
		pay_invoice_1
	WHERE
		pay_status IN (3)
  </select>
  
</mapper>