<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.SystemMemberMapper" >
  <!-- 条件查询模糊查询 -->
  <select id="findsMemberList" resultType="com.tianrui.service.admin.bean.Members" parameterType="com.tianrui.service.bean.MemberFind" >
    select 
	    m.ID id,
		m.loginName loginName,
		m.cellPhone cellPhone,
		m.status status,
		m.orgid organizationid,
		m.registTime registtime,
		m.userpercheck userpercheck,
		m.driverpercheck driverpercheck,
		m.companypercheck companypercheck,
		m.submittime submitDate,
		m.lastTime lastTime,
		m.sourceType sourceType,
		m.remarkname remarkname,
		m.aldriverid aldriverid,
		m.auditname auditname,
		m.audittime audittime,
		
		f.idcardimage idcardsImagePath,
		f.rtblimgurl rtblimgurl,
		f.rtblno rtblno,
		f.memberid infoid,
		f.driverimage driveImagePath,
		f.idcard identityCard,
		f.username userName,
		f.telphone telphone,
		f.companyname companyName,
		f.companycode companycode,
		f.companycontact companyContact,
		f.companyAddress companyAddress,
		f.licenseImagePath licenseImagePath,
		f.companytel contactTel,
		f.licenseType licenseType,
		
		f.sex sex,
	    f.birthday birthday,
	    f.firstlicens firstlicens,
	    f.licenceorg licenceorg,
	    f.starttime starttime,
	    f.usefullife usefullife,
	    f.idcardaddress idcardaddress,
	    f.positive positive,
	    f.opposite opposite,
		
		(SELECT count(*) FROM wuliu_member_capa mc WHERE mc.memberid = m.id AND mc.`status` = 1) capacount,
		(SELECT count(*) FROM wuliu_vehicle_driver vd WHERE vd.creator = m.id) vdcount,
		(SELECT count(*) FROM wuliu_member_owner mo WHERE mo.memberid = m.id AND mo.`status` = 1) mocount,
		f.pushStatus,
		f.ncStatus
    from member m
   	LEFT JOIN member_info f ON f.memberId = m.ID 
   	<where> 1=1
   	  <if test="vehicleno != null" >
      	and   m.ID  in(SELECT creator FROM wuliu_vehicle_driver where  vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%")
      </if>
      <if test="drivername != null" >
      	and   m.ID  in(SELECT creator FROM wuliu_vehicle_driver where drivername like "%" #{drivername,jdbcType=VARCHAR} "%")
      </if>
   		<if test="starttimes != null and starttimes != ''">
	   		and m.audittime <![CDATA[>=]]> #{starttimes,jdbcType=BIGINT}
    	</if>
    	<if test="endtimes != null and endtimes != '' ">
			and m.audittime <![CDATA[<=]]> #{endtimes,jdbcType=BIGINT}
		</if>
   	  <if test="auditName != null  and auditName != '' " >
      	and  m.auditname like "%" #{auditName,jdbcType=VARCHAR} "%"
      </if>
       <if test="aldriverid != null  and aldriverid != '' " >
      	and  m.aldriverid like "%" #{aldriverid,jdbcType=VARCHAR} "%"
      </if>
      <if test="telphone != null  and telphone != '' " >
      	and  f.telphone like "%" #{telphone,jdbcType=VARCHAR} "%"
      </if>
   		<!-- 0-查询普通用户, 1-查询司机用户   ,2-查询车主用户 -->
   	  <if test="ncStatus != null and ncStatus !='' " >
        and  f.ncStatus = #{ncStatus,jdbcType=INTEGER}
      </if>
   	  <if test="userType == 0">
   	  	and m.driverpercheck = '0'
   	  </if>
   	  <if test="userType == 1">
   	  	and m.driverpercheck != '0'
   	  </if>
   	  <!-- 0-未审 ，1-已审 -->
   	  <if test="percheck == 0">
   	  	AND (m.userpercheck =2 
   	  	or m.companypercheck = 2 
   	  	OR m.driverpercheck = 2)
   	  </if>
   	  <if test="percheck == 1">
		AND (m.userpercheck = 1 or m.userpercheck = 3 
		OR m.companypercheck = 1 OR m.companypercheck = 3 
		OR m.driverpercheck = 1 OR m.driverpercheck = 3 )
   	  </if>
   	  <if test="capaType == 0">
   	  	and (m.ID in(select creator from wuliu_vehicle_driver)
   	  	OR m.id IN (SELECT memberid	FROM wuliu_member_capa WHERE status = '1')
   	  	OR m.id IN (SELECT memberid FROM wuliu_member_owner WHERE status = '1'))
   	  </if>
   	  <!-- 调用运力 -->
   	  <if test="capaType == 1">
   	  	and m.id IN (SELECT memberid FROM wuliu_member_capa WHERE status = '1')
   	  </if>
   	  <!-- 自有运力 -->
   	  <if test="capaType == 2">
   	  	and m.ID in(select creator from wuliu_vehicle_driver)
   	  </if>
   	  <!-- 委派运力 -->
   	  <if test="capaType == 3">
   	  	and m.id IN (SELECT memberid FROM wuliu_member_owner WHERE status = '1')
   	  </if>
   	  <!--  2-个人账户， 1-企业账户 -->
   	  <if test="personalType == 1">
   	  	and m.companypercheck = '1'
   	  </if>
   	  <if test="personalType == 2">
   	  	and m.userpercheck = '1'
   	  </if>
   	  <if test="userpercheck != null and userpercheck !=''">
   	  	and (m.userpercheck = #{userpercheck,jdbcType=VARCHAR}
   	  	or m.companypercheck = #{companypercheck,jdbcType=VARCHAR})
   	  </if>
   	  <if test="driverpercheck != null and driverpercheck !=''">
   	  	and m.driverpercheck = #{driverpercheck,jdbcType=VARCHAR}
   	  </if>
      <if test="userName != null and userName !='' " >
      and (f.username like "%" #{userName,jdbcType=VARCHAR} "%"
      or f.companyname like "%" #{userName,jdbcType=VARCHAR} "%")
      </if>
      <if test="status != null and status !='' " >
      and  m.status = #{status,jdbcType=VARCHAR}
      </if>
   	  <if test="cellPhone != null  and cellPhone != '' " >
      and  m.cellPhone like "%" #{cellPhone,jdbcType=VARCHAR} "%"
      </if>
      <if test="sourcetype != null" >
      and  m.sourceType = #{sourcetype,jdbcType=SMALLINT}
      </if>
      <if test="registtimeFor != null and registtimeFor !='' " >
       and m.registTime <![CDATA[>]]> #{registtimeFor,jdbcType=VARCHAR}
      </if>
      <if test="registtimeEnd != null and registtimeEnd !='' " >
       and m.registTime <![CDATA[<]]> #{registtimeEnd,jdbcType=VARCHAR}
      </if>
      <if test="submitdateFor != null and submitdateFor !='' " >
       and m.submittime <![CDATA[>]]> #{submitdateFor,jdbcType=VARCHAR}
      </if>
      <if test="submitdateEnd != null and submitdateEnd !='' " >
       and m.submittime <![CDATA[<]]> #{submitdateEnd,jdbcType=VARCHAR}
      </if>
      order by m.submittime desc
   	</where>
      <if test="pageNo != null and pageSize != null">
       	limit #{limit,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
      </if>
  </select>
    <!-- 审核通过查询条数 -->
  <select id="driverByNum" resultType="long" parameterType="com.tianrui.service.bean.MemberFind" >
     select 
	   count(*)
    from member m
   	LEFT JOIN member_info f ON f.memberId = m.ID 
   	left join member_info_record r on r.memberId = m.ID
   <where> 1=1
	  <if test="userpercheck != null and userpercheck !=''">
	  	and (m.userpercheck = #{userpercheck,jdbcType=VARCHAR}
   	  	or m.companypercheck = #{companypercheck,jdbcType=VARCHAR})
	  </if>
	   <if test="driverpercheck != null and driverpercheck !=''">
   	  	and m.driverpercheck = #{driverpercheck,jdbcType=VARCHAR}
   	  </if>
   	<if test="beginTime != null and beginTime != ''">
			 and r.audittime <![CDATA[>=]]> #{beginTime,jdbcType=BIGINT}
	</if>
	<if test="endTime != null and endTime != ''">
			and r.audittime <![CDATA[<=]]> #{endTime,jdbcType=BIGINT}
	</if>
   	</where>
  </select>
  <!-- 条件查询模糊查询条数 -->
  <select id="findsMemberListCount" resultType="long" parameterType="com.tianrui.service.bean.MemberFind" >
     select 
	   count(*)
    from member m
   	LEFT JOIN member_info f ON f.memberId = m.ID 
   <where> 1=1
   		<if test="vehicleno != null" >
      	and   m.ID  in(SELECT creator FROM wuliu_vehicle_driver where  vehicleno like "%" #{vehicleno,jdbcType=VARCHAR} "%")
      </if>
      <if test="drivername != null" >
      	and   m.ID  in(SELECT creator FROM wuliu_vehicle_driver where drivername like "%" #{drivername,jdbcType=VARCHAR} "%")
      </if>
   	   <if test="auditName != null  and auditName != '' " >
      	and  m.auditname like "%" #{auditName,jdbcType=VARCHAR} "%"
      </if>
      <if test="starttimes != null and starttimes != ''">
	   		and m.audittime <![CDATA[>=]]> #{starttimes,jdbcType=BIGINT}
    	</if>
    	<if test="endtimes != null and endtimes != '' ">
			and m.audittime <![CDATA[<=]]> #{endtimes,jdbcType=BIGINT}
		</if>
     <if test="aldriverid != null  and aldriverid != '' " >
      	and  m.aldriverid like "%" #{aldriverid,jdbcType=VARCHAR} "%"
      </if>
      <if test="telphone != null  and telphone != '' " >
      	and  f.telphone like "%" #{telphone,jdbcType=VARCHAR} "%"
      </if>
   		<!-- 0-查询普通用户, 1-查询司机用户   ,2-查询车主用户 -->
   	  <if test="userType == 0">
   	  	and m.driverpercheck = '0'
   	  </if>
   	  <if test="userType == 1">
   	  	and m.driverpercheck != '0'
   	  </if>
   	  <!-- 0-未审 ，1-已审 -->
   	  <if test="percheck == 0">
   	  	AND (m.userpercheck =2 
   	  	or m.companypercheck = 2 
   	  	OR m.driverpercheck = 2)
   	  </if>
   	  <if test="percheck == 1">
		AND (m.userpercheck = 1 or m.userpercheck = 3 
		OR m.companypercheck = 1 OR m.companypercheck = 3 
		OR m.driverpercheck = 1 OR m.driverpercheck = 3 )
   	  </if>
   	  <if test="capaType == 0">
   	  	and (m.ID in(select creator from wuliu_vehicle_driver)
   	  	OR m.id IN (SELECT memberid	FROM wuliu_member_capa WHERE status = '1')
   	  	OR m.id IN (SELECT memberid FROM wuliu_member_owner WHERE status = '1'))
   	  </if>
   	  <!-- 调用运力 -->
   	  <if test="capaType == 1">
   	  	and m.id IN (SELECT memberid FROM wuliu_member_capa WHERE status = '1')
   	  </if>
   	  <!-- 自有运力 -->
   	  <if test="capaType == 2">
   	  	and m.ID in(select creator from wuliu_vehicle_driver)
   	  </if>
   	  <!-- 委派运力 -->
   	  <if test="capaType == 3">
   	  	and m.id IN (SELECT memberid FROM wuliu_member_owner WHERE status = '1')
   	  </if>
   	  <!--  2-个人账户， 1-企业账户 -->
   	  <if test="personalType == 1">
   	  	and m.companypercheck = '1'
   	  </if>
   	  <if test="personalType == 2">
   	  	and m.userpercheck = '1'
   	  </if>
   	  <if test="userpercheck != null and userpercheck !=''">
   	  	and (m.userpercheck = #{userpercheck,jdbcType=VARCHAR}
   	  	or m.companypercheck = #{companypercheck,jdbcType=VARCHAR})
   	  </if>
   	  <if test="driverpercheck != null and driverpercheck !=''">
   	  	and m.driverpercheck = #{driverpercheck,jdbcType=VARCHAR}
   	  </if>
      <if test="userName != null and userName !='' " >
      and (f.username like "%" #{userName,jdbcType=VARCHAR} "%"
      or f.companyname like "%" #{userName,jdbcType=VARCHAR} "%")
      </if>
      <if test="status != null and status !='' " >
      and  m.status = #{status,jdbcType=VARCHAR}
      </if>
   	  <if test="cellPhone != null  and cellPhone != '' " >
      and  m.cellPhone like "%" #{cellPhone,jdbcType=VARCHAR} "%"
      </if>
      <if test="sourcetype != null" >
      and  m.sourceType = #{sourcetype,jdbcType=SMALLINT}
      </if>
      <if test="registtimeFor != null and registtimeFor !='' " >
       and m.registTime <![CDATA[>]]> #{registtimeFor,jdbcType=VARCHAR}
      </if>
      <if test="registtimeEnd != null and registtimeEnd !='' " >
       and m.registTime <![CDATA[<]]> #{registtimeEnd,jdbcType=VARCHAR}
      </if>
      <if test="submitdateFor != null and submitdateFor !='' " >
       and m.submittime <![CDATA[>]]> #{submitdateFor,jdbcType=VARCHAR}
      </if>
      <if test="submitdateEnd != null and submitdateEnd !='' " >
       and m.submittime <![CDATA[<]]> #{submitdateEnd,jdbcType=VARCHAR}
      </if>
      <if test="ncStatus != null and ncStatus !='' " >
        and  f.ncStatus = #{ncStatus,jdbcType=INTEGER}
      </if>
   	</where>
  </select>
  <!-- 运力关联查询 -->
  	<select id="findByMemberId" resultType="com.tianrui.service.admin.bean.Members" parameterType="java.lang.String" >
    select 
	    m.ID id,
		m.loginName loginName,
		m.cellPhone cellPhone,
		m.status status,
		m.orgid organizationid,
		m.registTime registtime,
		m.userpercheck userpercheck,
		m.driverpercheck driverpercheck,
		m.companypercheck companypercheck,
		m.submittime submitDate,
		m.lastTime lastTime,
		m.sourceType sourceType,
		m.sex sex,f.*,v.*
	    from member m
	   	LEFT JOIN member_info f ON f.memberId = m.ID 
	   	LEFT JOIN wuliu_vehicle_driver v ON v.driverId = m.ID 
   	<where>
   		m.ID = #{id,jdbcType=VARCHAR}
   	</where>
  </select>
  <!-- id关联查询 -->
  <select id="findsMemberbyId" resultType="com.tianrui.service.admin.bean.Members" parameterType="java.lang.String" >
    select 
	    m.ID id,
		m.loginName loginName,
		m.cellPhone cellPhone,
		m.status status,
		m.orgid organizationid,
		m.registTime registtime,
		m.userpercheck userpercheck,
		m.driverpercheck driverpercheck,
		m.companypercheck companypercheck,
		m.submittime submitDate,
		m.lastTime lastTime,
		m.sourceType sourceType,
		m.sex sex,
		f.idcardimage idcardsImagePath,
		f.memberid infoid,
		f.driverimage driveImagePath,
		f.idcard identityCard,
		f.username userName,
		f.telphone telphone,
		f.companyname companyName,
		f.companycontact companyContact,
		f.companytel contactTel,
		f.companyAddress companyAddress,
		f.auditname auditName,
		f.audittime auditTime,
		f.auditresson rejectReason
    from member m
   	LEFT JOIN member_info_record f ON f.memberId = m.ID AND f.submittime = m.submittime
   	<where>
   		m.ID = #{id,jdbcType=VARCHAR}
   	</where>
  </select>
  <!-- id关联查询 -->
  <select id="bindDriver" resultType="com.tianrui.service.admin.bean.Members" parameterType="java.lang.String" >
  	select * from member
  	<where>
  		cellPhone=#{cellPhone,jdbcType=VARCHAR}
  	</where>
  </select>
  
  	<select id="findByMemberIds" resultType="com.tianrui.service.admin.bean.Members" parameterType="java.lang.String" >
    select 
	    m.ID id,
		m.loginName loginName,
		m.cellPhone cellPhone,
		m.status status,
		m.orgid organizationid,
		m.registTime registtime,
		m.userpercheck userpercheck,
		m.driverpercheck driverpercheck,
		m.companypercheck companypercheck,
		m.submittime submitDate,
		m.lastTime lastTime,
		m.sourceType sourceType,
		m.sex sex,f.*,v.*
	    from member m
	   	LEFT JOIN member_info f ON f.memberId = m.ID 
	   	LEFT JOIN wuliu_vehicle_driver v ON v.driverId = m.ID 
   	<where>
   		m.ID = #{id,jdbcType=VARCHAR}
   	</where>
  </select>
</mapper>