<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.SystemMemberInfoRecordMapper" >

  <select id="selectByRecordEntity" resultType="com.tianrui.service.bean.SystemMemberInfoRecord" parameterType="com.tianrui.service.bean.SystemMemberInfoRecord" >
	  	SELECT
			f.id id,
			f.memberid memberid,
			f.username username,
			f.telphone telphone,
			f.idcard idcard,
			f.idcardimage idcardimage,
			f.driverimage driverimage,
			f.submittime submittime,
			f.companyname companyname,
			f.companycontact companycontact,
			f.companytel companytel,
			f.companyAddress companyAddress,
			f.companycode companycode,
			f.licenseImagePath licenseImagePath,
			f.status status,
			f.rtblimgurl rtblimgurl,
			f.rtblno rtblno,
			f.licenseType licenseType,
			
			f.sex sex,
		    f.birthday birthday,
		    f.firstlicens firstlicens,
		    f.licenceorg licenceorg,
		    f.starttime starttime,
		    f.usefullife usefullife,
		    f.idcardaddress idcardaddress,
			
			m.cellphone cellphone,
			m.companypercheck companypercheck,
			m.driverpercheck driverpercheck,
			m.userpercheck userpercheck,
			m.registtime registtime,
			
			f.positive positive,
			f.opposite opposite
	FROM
		member_info_record f
	LEFT JOIN member m ON m.ID = f.memberid 
	<where>
		<if test="memberid != null and memberid != ''">
		   and	f.memberid = #{memberid,jdbcType=VARCHAR}
		   and  m.submittime = f.submittime
		</if>
		<if test="status != null and status != ''">
			and f.status = #{status,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
			and f.id = #{id,jdbcType=VARCHAR}
		</if>
		order by f.submittime desc
	</where>
		
  </select>
</mapper>