<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.mapper.TransferMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.bean.Transfer" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="billid" property="billid" jdbcType="VARCHAR" />
    <result column="vehicleno" property="vehicleno" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="startid" property="startid" jdbcType="VARCHAR" />
    <result column="starter" property="starter" jdbcType="VARCHAR" />
    <result column="starttele" property="starttele" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="BIGINT" />
    <result column="sendid" property="sendid" jdbcType="VARCHAR" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="sendtele" property="sendtele" jdbcType="VARCHAR" />
    <result column="sendtime" property="sendtime" jdbcType="BIGINT" />
    <result column="isvalid" property="isvalid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billid, vehicleno, status, reason, startid, starter, starttele, starttime, sendid, 
    sender, sendtele, sendtime, isvalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wuliu_transfer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.bean.Transfer" >
    select 
    <include refid="Base_Column_List" />
    from wuliu_transfer
    <where>
    	<if test="billid != null and billid != ''">
    	and billid = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="vehicleno != null and vehicleno != ''">
    	and vehicleno = #{vehicleno,jdbcType=VARCHAR}
    	</if>
    	<if test="status != null and status != ''">
    	and status = #{status,jdbcType=VARCHAR}
    	</if>
    	<if test="startid != null and startid != ''">
    	and startid = #{startid,jdbcType=VARCHAR}
    	</if>
    	<if test="sendid != null and sendid != ''">
    	and sendid = #{sendid,jdbcType=VARCHAR}
    	</if>
    </where>
    order by sendtime desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wuliu_transfer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.bean.Transfer" >
    insert into wuliu_transfer (id, billid, vehicleno, 
      status, reason, startid, 
      starter, starttele, starttime, 
      sendid, sender, sendtele, 
      sendtime, isvalid)
    values (#{id,jdbcType=VARCHAR}, #{billid,jdbcType=VARCHAR}, #{vehicleno,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{startid,jdbcType=VARCHAR}, 
      #{starter,jdbcType=VARCHAR}, #{starttele,jdbcType=VARCHAR}, #{starttime,jdbcType=BIGINT}, 
      #{sendid,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, #{sendtele,jdbcType=VARCHAR}, 
      #{sendtime,jdbcType=BIGINT}, #{isvalid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.bean.Transfer" >
    insert into wuliu_transfer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billid != null" >
        billid,
      </if>
      <if test="vehicleno != null" >
        vehicleno,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="startid != null" >
        startid,
      </if>
      <if test="starter != null" >
        starter,
      </if>
      <if test="starttele != null" >
        starttele,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="sendid != null" >
        sendid,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="sendtele != null" >
        sendtele,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="billid != null" >
        #{billid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startid != null" >
        #{startid,jdbcType=VARCHAR},
      </if>
      <if test="starter != null" >
        #{starter,jdbcType=VARCHAR},
      </if>
      <if test="starttele != null" >
        #{starttele,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=BIGINT},
      </if>
      <if test="sendid != null" >
        #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendtele != null" >
        #{sendtele,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.bean.Transfer" >
    update wuliu_transfer
    <set >
      <if test="billid != null" >
        billid = #{billid,jdbcType=VARCHAR},
      </if>
      <if test="vehicleno != null" >
        vehicleno = #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startid != null" >
        startid = #{startid,jdbcType=VARCHAR},
      </if>
      <if test="starter != null" >
        starter = #{starter,jdbcType=VARCHAR},
      </if>
      <if test="starttele != null" >
        starttele = #{starttele,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=BIGINT},
      </if>
      <if test="sendid != null" >
        sendid = #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendtele != null" >
        sendtele = #{sendtele,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.bean.Transfer" >
    update wuliu_transfer
    set billid = #{billid,jdbcType=VARCHAR},
      vehicleno = #{vehicleno,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      startid = #{startid,jdbcType=VARCHAR},
      starter = #{starter,jdbcType=VARCHAR},
      starttele = #{starttele,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=BIGINT},
      sendid = #{sendid,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=VARCHAR},
      sendtele = #{sendtele,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=BIGINT},
      isvalid = #{isvalid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByBillId" parameterType="com.tianrui.service.bean.Transfer">
  	update wuliu_transfer
    <set >
      <if test="vehicleno != null" >
        vehicleno = #{vehicleno,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="startid != null" >
        startid = #{startid,jdbcType=VARCHAR},
      </if>
      <if test="starter != null" >
        starter = #{starter,jdbcType=VARCHAR},
      </if>
      <if test="starttele != null" >
        starttele = #{starttele,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=BIGINT},
      </if>
      <if test="sendid != null" >
        sendid = #{sendid,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendtele != null" >
        sendtele = #{sendtele,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=BIGINT},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=VARCHAR},
      </if>
    </set>
    where billid = #{billid,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByBillId" parameterType="string">
  	delete from wuliu_transfer
    where billid = #{billid,jdbcType=VARCHAR}
  </delete>
  <!-- 修改请求状态 -->
  <update id="updateByStatus" parameterType="com.tianrui.service.bean.Transfer">
  	update wuliu_transfer
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where billid = #{billid,jdbcType=VARCHAR} 
    and startid = #{startid,jdbcType=VARCHAR} 
    and sendid = #{sendid,jdbcType=VARCHAR}
  </update>
</mapper>