<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:flex="http://www.springframework.org/schema/flex"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
	<context:component-scan base-package="com.tianrui.web.action,com.tianrui.web.app.action" />
    
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/template/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<mvc:annotation-driven >  
		<mvc:message-converters>
        <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
        <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
        <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">  
	            <property name="supportedMediaTypes">  
	                <list>  
	                    <value>application/json;charset=UTF-8</value>  
	                </list>  
	            </property>  
	        </bean>  
    	</mvc:message-converters>
	</mvc:annotation-driven>  
	
	
   <bean id="resourcePathExposer" class="com.tianrui.web.util.ResourcePathExposer"
		init-method="init" >
		<property name="localScripts" value="/resources/js" />
		<property name="imagesRoot" value="http://47.89.54.114/trwlWebStatic/tianrui/images" />
		<property name="scriptsRoot" value="http://47.89.54.114/trwlWebStatic/tianrui/js" />
		<property name="stylesRoot" value="http://47.89.54.114/trwlWebStatic/tianrui/css" />
		<property name="trRoot" value="http://47.89.54.114/trwlWebStatic" />
	</bean>
	
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="UTF-8" />  
        <property name="maxUploadSize" value="102400000" />  
        <!-- 设置在文件上传时允许写到内存中的最大值，以字节为单位计算，默认是10240 -->  
        <!-- 但是经实验，上传文件大小若小于此参数，则不会生成临时文件，故改为2048
        <property name="maxInMemorySize" value="2048" />    
         -->  
    </bean>    
	
	<!-- 资源文件路径 css js images -->
	<mvc:resources location="/resources/" mapping="/resources/**"/>
	<mvc:resources location="/favicon.ico" mapping="/favicon.ico" /> 
	<!-- interceptors -->
	<mvc:interceptors>
		<!-- 拦截所有APP接口请求，处理公共ApiParam参数，及拦截非法请求 -->
		<mvc:interceptor>
			<mvc:mapping path="/app/**"/>
			<bean class="com.tianrui.web.smvc.ApiParamInterceptor" />
		</mvc:interceptor>
		<!-- 拦截所有Web端需要拦截的路径,做日志以及权限验证-->
		<mvc:interceptor>
			<mvc:mapping path="/trwuliu/**"/>
			<bean class="com.tianrui.web.smvc.WebAuthInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>	
	
	
	<aop:aspectj-autoproxy/>
		
	<aop:config>
		<aop:aspect ref="apiParamPointcut">
			<aop:pointcut id="apiPointcut" expression="execution(* com.tianrui.web.app.action..*(..))"/>
			<aop:around pointcut-ref="apiPointcut" method="forAround"/>
		</aop:aspect>
	</aop:config>	
			
	<bean id="apiParamPointcut" 
		class="com.tianrui.web.smvc.ApiParamInterceptor.ApiParamHandlerPointcut"/>	
 </beans>

