<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.admin.mapper.FileRouteMapper" >


  <resultMap id="BaseResultMap" type="com.tianrui.service.admin.bean.FileRoute" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="organizationname" property="organizationname" jdbcType="VARCHAR" />
    <result column="organizationid" property="organizationid" jdbcType="VARCHAR" />
    <result column="routename" property="routename" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="oPositionId" property="opositionid" jdbcType="VARCHAR" />
    <result column="oAddr" property="oaddr" jdbcType="VARCHAR" />
    <result column="dPositionId" property="dpositionid" jdbcType="VARCHAR" />
    <result column="dAddr" property="daddr" jdbcType="VARCHAR" />
    <result column="sendPersion" property="sendpersion" jdbcType="VARCHAR" />
    <result column="sendPersionPhone" property="sendpersionphone" jdbcType="VARCHAR" />
    <result column="receivePersion" property="receivepersion" jdbcType="VARCHAR" />
    <result column="receivePersionPhone" property="receivepersionphone" jdbcType="VARCHAR" />
    <result column="distance" property="distance" jdbcType="DOUBLE" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="PlanRouteMap" type="com.tianrui.api.resp.front.cargoplan.PlanRouteResp" >
  </resultMap>
  <sql id="Base_Column_List" >
    ID, organizationname, organizationid, routename, status, oPositionId, oAddr, dPositionId, 
    dAddr, sendPersion, sendPersionPhone, receivePersion, receivePersionPhone, distance, 
    creator, createtime, modifier, modifytime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file_route
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByPlanIds" resultMap="PlanRouteMap" parameterType="java.util.List" >
	SELECT
		p.id AS planId,
		r.id AS routeId,
		r.routename AS routeName
	FROM
		wuliu_plan p
	LEFT JOIN file_route r ON p.routeid = r.id
	<where>
		<if test="ids != null" >
			and p.id in
			 <foreach   collection="ids" item="itemId" open="("  separator=","  close=")">  
                #{itemId}  
     		</foreach>  
     	</if>
	</where>
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    select 
	    f.ID, f.organizationname, f.organizationid, f.routename, f.status, f.oPositionId, f.oAddr, f.dPositionId, 
	    f.dAddr, f.sendPersion, f.sendPersionPhone, f.receivePersion, f.receivePersionPhone, f.distance, 
	    f.creator, f.createtime, f.modifier, f.modifytime,
	    (select count(*) from file_freight t where t.routeid = f.ID) count
    from file_route f
    <where>
      <if test="organizationid != null and organizationid != ''" >
       and  f.organizationid = #{organizationid,jdbcType=VARCHAR}
      </if>
      <if test="routename != null and routename != ''" >
       and  f.routename like concat("%",#{routename,jdbcType=VARCHAR},"%")
      </if>
      <if test="status != null  and status != ''" >
       and  f.status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
    	order by f.createtime desc
     <if test="start != null and start != '0'">
    	<if test="limit !=null" >
     		limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    	</if>
    </if>
  </select>
  <select id="countByCondition" resultType="long" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    select 
    	count(1)
    from file_route
    <where>
      <if test="organizationid != null and organizationid != ''" >
       and  organizationid = #{organizationid,jdbcType=VARCHAR}
      </if>
      <if test="routename != null and routename != ''" >
       and  routename like concat("%",#{routename,jdbcType=VARCHAR},"%")
      </if>
      <if test="status != null  and status != ''" >
       and  status = #{status,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file_route
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    insert into file_route (ID, organizationname, organizationid, 
      routename, status, oPositionId, 
      oAddr, dPositionId, dAddr, 
      sendPersion, sendPersionPhone, receivePersion, 
      receivePersionPhone, distance, creator, 
      createtime, modifier, modifytime
      )
    values (#{id,jdbcType=VARCHAR}, #{organizationname,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, 
      #{routename,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{opositionid,jdbcType=VARCHAR}, 
      #{oaddr,jdbcType=VARCHAR}, #{dpositionid,jdbcType=VARCHAR}, #{daddr,jdbcType=VARCHAR}, 
      #{sendpersion,jdbcType=VARCHAR}, #{sendpersionphone,jdbcType=VARCHAR}, #{receivepersion,jdbcType=VARCHAR}, 
      #{receivepersionphone,jdbcType=VARCHAR}, #{distance,jdbcType=DOUBLE}, #{creator,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{modifier,jdbcType=VARCHAR}, #{modifytime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    insert into file_route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="organizationname != null" >
        organizationname,
      </if>
      <if test="organizationid != null" >
        organizationid,
      </if>
      <if test="routename != null" >
        routename,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="opositionid != null" >
        oPositionId,
      </if>
      <if test="oaddr != null" >
        oAddr,
      </if>
      <if test="dpositionid != null" >
        dPositionId,
      </if>
      <if test="daddr != null" >
        dAddr,
      </if>
      <if test="sendpersion != null" >
        sendPersion,
      </if>
      <if test="sendpersionphone != null" >
        sendPersionPhone,
      </if>
      <if test="receivepersion != null" >
        receivePersion,
      </if>
      <if test="receivepersionphone != null" >
        receivePersionPhone,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="organizationname != null" >
        #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="routename != null" >
        #{routename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="opositionid != null" >
        #{opositionid,jdbcType=VARCHAR},
      </if>
      <if test="oaddr != null" >
        #{oaddr,jdbcType=VARCHAR},
      </if>
      <if test="dpositionid != null" >
        #{dpositionid,jdbcType=VARCHAR},
      </if>
      <if test="daddr != null" >
        #{daddr,jdbcType=VARCHAR},
      </if>
      <if test="sendpersion != null" >
        #{sendpersion,jdbcType=VARCHAR},
      </if>
      <if test="sendpersionphone != null" >
        #{sendpersionphone,jdbcType=VARCHAR},
      </if>
      <if test="receivepersion != null" >
        #{receivepersion,jdbcType=VARCHAR},
      </if>
      <if test="receivepersionphone != null" >
        #{receivepersionphone,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DOUBLE},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update file_route
    <set >
      <if test="organizationname != null" >
        organizationname = #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        organizationid = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="routename != null" >
        routename = #{routename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="opositionid != null" >
        oPositionId = #{opositionid,jdbcType=VARCHAR},
      </if>
      <if test="oaddr != null" >
        oAddr = #{oaddr,jdbcType=VARCHAR},
      </if>
      <if test="dpositionid != null" >
        dPositionId = #{dpositionid,jdbcType=VARCHAR},
      </if>
      <if test="daddr != null" >
        dAddr = #{daddr,jdbcType=VARCHAR},
      </if>
      <if test="sendpersion != null" >
        sendPersion = #{sendpersion,jdbcType=VARCHAR},
      </if>
      <if test="sendpersionphone != null" >
        sendPersionPhone = #{sendpersionphone,jdbcType=VARCHAR},
      </if>
      <if test="receivepersion != null" >
        receivePersion = #{receivepersion,jdbcType=VARCHAR},
      </if>
      <if test="receivepersionphone != null" >
        receivePersionPhone = #{receivepersionphone,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DOUBLE},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        modifytime = #{modifytime,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.admin.bean.FileRoute" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update file_route
    set organizationname = #{organizationname,jdbcType=VARCHAR},
      organizationid = #{organizationid,jdbcType=VARCHAR},
      routename = #{routename,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      oPositionId = #{opositionid,jdbcType=VARCHAR},
      oAddr = #{oaddr,jdbcType=VARCHAR},
      dPositionId = #{dpositionid,jdbcType=VARCHAR},
      dAddr = #{daddr,jdbcType=VARCHAR},
      sendPersion = #{sendpersion,jdbcType=VARCHAR},
      sendPersionPhone = #{sendpersionphone,jdbcType=VARCHAR},
      receivePersion = #{receivepersion,jdbcType=VARCHAR},
      receivePersionPhone = #{receivepersionphone,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=DOUBLE},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifytime = #{modifytime,jdbcType=BIGINT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>