<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.admin.mapper.FreightInfoMapper" >
  <select id="selectByCondition" resultType="com.tianrui.service.admin.bean.FileFreight" parameterType="com.tianrui.service.admin.bean.FileFreight" >
   SELECT
		f.ID ID,
		f.freightName freightName,
		f. STATUS STATUS,
		i.ID infoid,
		f.taketime taketime,
		f.tallage tallage,
		f.oldtallage oldtallage,
		i.tallage tallageInfo,
		f.oldprice oldprice,
		f.price price,
		i.price priceInfo,
		f.freightType freightType,
		i.freightType freightTypeInfo,
		f.auditstatus auditstatus,
		f.auditreason auditreason,
		f.priceUnits priceunits,
		i.taketime taketimeinfo,
		c.cargoname cargoid,
		c. STATUS DESC3,
		r.routename routeid,
		r. STATUS DESC4,
		i.desc1 desc1,
		m.measureName measure,
		(select count(*) from wuliu_plan p where p.freightid = f.id) count
	FROM
		file_freight f
		LEFT JOIN file_org_cargo c ON c.ID = f.cargoid
		LEFT JOIN file_route r ON r.ID = f.routeid
		LEFT JOIN wuliu_measure m ON m.ID = f.measure
		LEFT JOIN file_freight_info i ON i.freightid = f.ID
		AND i.recent = 1
	<where>
		AND f. STATUS != 2
		<if test="organizationid != null and organizationid != ''">
    		and f.organizationid = #{organizationid,jdbcType=VARCHAR}
	    </if>
	    <if test="cargoid != null and cargoid != ''" >
	   		and f.cargoid in (select ID from file_org_cargo where cargoname like "%" #{cargoid,jdbcType=VARCHAR} "%")
	    </if>
	    <if test="routeid != null and routeid != ''" >
	    	and f.routeid in (select ID from file_route where routename like "%" #{routeid,jdbcType=VARCHAR} "%")
	    </if>
	    <if test="freightName != null and freightName != ''" >
	    	and f.freightName like "%" #{freightName,jdbcType=VARCHAR} "%"
	    </if>
	    <if test="auditstatus != null and auditstatus != ''" >
	    	and f.auditstatus = #{auditstatus,jdbcType=VARCHAR}
	    </if>
		ORDER BY
		f.createtime DESC
		<if test="limit != null and pageSize != null">
    		limit #{limit,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
   		</if>
	</where>
  </select>
  <select id="selectByConunt" resultType="long" parameterType="com.tianrui.service.admin.bean.FileFreight" >
   SELECT
		count(*)
	FROM
		file_freight f
		LEFT JOIN file_org_cargo c ON c.ID = f.cargoid
		LEFT JOIN file_route r ON r.ID = f.routeid
		LEFT JOIN wuliu_measure m ON m.ID = f.measure
		LEFT JOIN file_freight_info i ON i.freightid = f.ID
		AND i.recent = 1
	<where>
		AND f. STATUS != 2
		<if test="organizationid != null and organizationid != ''">
    		and f.organizationid = #{organizationid,jdbcType=VARCHAR}
	    </if>
	    <if test="cargoid != null and cargoid != ''" >
	   		and f.cargoid in (select ID from file_org_cargo where cargoname like "%" #{cargoid,jdbcType=VARCHAR} "%")
	    </if>
	    <if test="routeid != null and routeid != ''" >
	    	and f.routeid in (select ID from file_route where routename like "%" #{routeid,jdbcType=VARCHAR} "%")
	    </if>
	    <if test="freightName != null and freightName != ''" >
	    	and f.freightName like "%" #{freightName,jdbcType=VARCHAR} "%"
	    </if>
	    <if test="auditstatus != null and auditstatus != ''" >
	    	and f.auditstatus = #{auditstatus,jdbcType=VARCHAR}
	    </if>
	</where>
  </select>
  
  <select id="selectByInfo" resultType="com.tianrui.service.admin.bean.FreightInfo" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    select 
    *
    from file_freight_info
    <where>
    <if test="freightid != null and freightid != ''">
     and freightid = #{freightid,jdbcType=VARCHAR}
    </if>
    <if test="desc4 != null">
     and desc4 is null
    </if>
    <if test="status != null and status != ''">
     and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="recent != null and recent != ''">
     and recent = #{recent,jdbcType=VARCHAR}
    </if>
    <if test="taketime != null">
    and taketime <![CDATA[<=]]> #{taketime,jdbcType=BIGINT}
    </if>
    
    ORDER BY
		taketime
    </where>
  </select>
  
  <update id="updFreightInfo" parameterType="com.tianrui.service.admin.bean.FreightInfo">
  	update file_freight_info 
  		set desc4 = #{desc4,jdbcType=DOUBLE}
  	where taketime <![CDATA[>=]]> #{taketime,jdbcType=BIGINT}
  		and status = 1
  		and recent = 0
  </update>
  
  <update id="uptPlanForFreight" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    update wuliu_plan
    set price = #{price,jdbcType=DOUBLE},
      type = #{freighttype,jdbcType=VARCHAR}
    where freightid = #{freightid,jdbcType=VARCHAR}
    	and status in (0,2)
    	and createtime <![CDATA[>]]> #{taketime,jdbcType=BIGINT}
  </update>
  
  <update id="uptBilForFreight" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    update wuliu_bill
    set price = #{price,jdbcType=DOUBLE},
      type = #{freighttype,jdbcType=VARCHAR}
    where 
    	planid IN (SELECT id FROM wuliu_plan WHERE freightid = #{freightid,jdbcType=VARCHAR})
    	and status in (0,1,2,3,4)
    	and createtime <![CDATA[>]]> #{taketime,jdbcType=BIGINT}
  </update>
  
</mapper>