<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianrui.service.admin.mapper.FreightInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tianrui.service.admin.bean.FreightInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="freightid" property="freightid" jdbcType="VARCHAR" />
    <result column="taketime" property="taketime" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="tallage" property="tallage" jdbcType="DOUBLE" />
    <result column="freightType" property="freighttype" jdbcType="VARCHAR" />
    <result column="frebilltype" property="frebilltype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="recent" property="recent" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="BIGINT" />
    <result column="desc1" property="desc1" jdbcType="VARCHAR" />
    <result column="desc2" property="desc2" jdbcType="VARCHAR" />
    <result column="desc3" property="desc3" jdbcType="VARCHAR" />
    <result column="desc4" property="desc4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, freightid, taketime, price, tallage, freightType, status, recent, creater, createtime, 
    updater, updatetime, desc1, desc2, desc3, desc4,frebilltype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file_freight_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file_freight_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    insert into file_freight_info (id, freightid, taketime, 
      price, tallage, freightType, 
      status, recent, creater, 
      createtime, updater, updatetime, 
      desc1, desc2, desc3, 
      desc4,frebilltype)
    values (#{id,jdbcType=VARCHAR}, #{freightid,jdbcType=VARCHAR}, #{taketime,jdbcType=BIGINT}, 
      #{price,jdbcType=DOUBLE}, #{tallage,jdbcType=DOUBLE}, #{freighttype,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{recent,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{updater,jdbcType=VARCHAR}, #{updatetime,jdbcType=BIGINT}, 
      #{desc1,jdbcType=VARCHAR}, #{desc2,jdbcType=VARCHAR}, #{desc3,jdbcType=VARCHAR}, 
      #{desc4,jdbcType=VARCHAR}),
      #{frebilltype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    insert into file_freight_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="freightid != null" >
        freightid,
      </if>
      <if test="taketime != null" >
        taketime,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="tallage != null" >
        tallage,
      </if>
      <if test="freighttype != null" >
        freightType,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recent != null" >
        recent,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="desc1 != null" >
        desc1,
      </if>
      <if test="desc2 != null" >
        desc2,
      </if>
      <if test="desc3 != null" >
        desc3,
      </if>
      <if test="desc4 != null" >
        desc4,
      </if>
      <if test="frebilltype != null" >
        frebilltype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="freightid != null" >
        #{freightid,jdbcType=VARCHAR},
      </if>
      <if test="taketime != null" >
        #{taketime,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="tallage != null" >
        #{tallage,jdbcType=DOUBLE},
      </if>
      <if test="freighttype != null" >
        #{freighttype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="recent != null" >
        #{recent,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="desc1 != null" >
        #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        #{desc4,jdbcType=VARCHAR},
      </if>
      <if test="frebilltype != null" >
        #{frebilltype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    update file_freight_info
    <set >
      <if test="frebilltype != null" >
        frebilltype = #{frebilltype,jdbcType=VARCHAR},
      </if>
      <if test="freightid != null" >
        freightid = #{freightid,jdbcType=VARCHAR},
      </if>
      <if test="taketime != null" >
        taketime = #{taketime,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="tallage != null" >
        tallage = #{tallage,jdbcType=DOUBLE},
      </if>
      <if test="freighttype != null" >
        freightType = #{freighttype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="recent != null" >
        recent = #{recent,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="desc1 != null" >
        desc1 = #{desc1,jdbcType=VARCHAR},
      </if>
      <if test="desc2 != null" >
        desc2 = #{desc2,jdbcType=VARCHAR},
      </if>
      <if test="desc3 != null" >
        desc3 = #{desc3,jdbcType=VARCHAR},
      </if>
      <if test="desc4 != null" >
        desc4 = #{desc4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianrui.service.admin.bean.FreightInfo" >
    update file_freight_info
    set freightid = #{freightid,jdbcType=VARCHAR},
      frebilltype = #{frebilltype,jdbcType=BIGINT},
      taketime = #{taketime,jdbcType=BIGINT},
      price = #{price,jdbcType=DOUBLE},
      tallage = #{tallage,jdbcType=DOUBLE},
      freightType = #{freighttype,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      recent = #{recent,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      updater = #{updater,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=BIGINT},
      desc1 = #{desc1,jdbcType=VARCHAR},
      desc2 = #{desc2,jdbcType=VARCHAR},
      desc3 = #{desc3,jdbcType=VARCHAR},
      desc4 = #{desc4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>