*{
    margin: 0;
    padding: 0;
}


.bottomBox{
    overflow: hidden;
    width: 80%;
}
.bottomBox .left{
    float: left;
    width: 20%;
    min-height: 1000px;
    background-color: #f6f1f5;
}
.bottomBox .right{
    float: right;
    width: 100%;
    min-height: 1000px;
}

.clear{
    overflow: hidden;
    clear: both;
}
.right .top{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #f4f4f4;
}
.right .top span{
    margin-left: 10px;
}
.right .bottom .main{
    width: 98%;
    min-height: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.right .bottom .main .infoBox{
	overflow:hidden;
    width: 90%;
    margin: 20px auto;
}
.right .bottom .main .infoBox .border{
    width: 50%;
    float: left;
}
.right .bottom .main .infoBox .info{
    width:90%;
    border: 1px solid #ccc;
    height: 350px;
    margin-bottom: 20px;
}
.right .bottom .main .infoBox .info img{
    /* width:100%; */
    width:500px;
    height:250px;
}
.right .bottom .main .infoBox .info p{
    margin: 10px;
}
.right .bottom .more{
    text-align: center;
    color: #3572dc;
}
.right .bottom .button{
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #0188e0;
    color: white;
    margin: 40px auto;
    cursor: pointer;
}
.info{
    position: relative;
}
.count{
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #85aaee;
    border-radius: 5px;
    color: white;
    right: 60px;
    top:260px;
    cursor: pointer;
}
.count2{
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background-color: #f55e5f;
    border-radius: 5px;
    right: 10px;
    top:260px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.count1{
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    background-color: #85aaee;
    border-radius: 5px;
    right: 10px;
    top:260px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.blue{
    color: #0188e0;
}
.red{
    color:red;
}